@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Questions/Comments:</strong> <a href="mailto:rav43@case.edu">rav43@case.edu</a><br />
</address>
