@{
    ViewData["Title"] = "Home Page";
}

@using LandlordRatings.Models

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    My first ASP.NET webapp! Woo!
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Add any landlord you want!
                    <a class="btn btn-default" href="/Landlords/Create">
                        Click here to add a landlord
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Another carousel option if I need it.
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<h1 align="center">I want to...</h1>
<br />
<br />
<br />
<div class="row">
    <div class="col-md-6 text-center">
        <button type="button" class="btn btn-lg btn-primary button-home" onclick="toggler('alphabet');">Search by name</button>
    </div>
    <div class="col-md-6 text-center">
        <button type="button" class="btn btn-lg btn-primary button-home" onclick="toggler('citystate');">Search by city</button>
    </div>
</div>

<div id="alphabet" class="hiddenMenu">
    @for (int i = 65; i < 91; i++)
    {
        if (i != 90)
        {
            <a asp-action="Index" asp-controller="Landlords" asp-route-name="@((char)i)">@((char)i)</a> @:&bull;
        }
        else
        {
            <a href="/Landlords?name=@((char)i)">@((char)i)</a>
        }
    }
</div>

<div id="citystate" class="hiddenMenu">
    <form asp-controller="Landlords" asp-action="SearchByCityState" method="get">
        <p>
            City: <input type="text" name="city" />
            State: @Html.DropDownList("state", Utils.GetStates(), "Select State")
            <input type="submit" value="Filter" />
        </p>
    </form>
</div>